# General build artifacts
build/
*.exe
*.o
*.lst
*.log
*.a
*.lib
*.dll
*.so

# Certain source files I don't want committed
leetcode.c

# VSCode
.vscode/

# Unit Test
*.txt
*.gcda
*.gcno
*.gcov

# Vim
*.swp
*.vim
tags
